:root {
  --nav-bar: #b30000;
  --background-color: #ffffff;
  --column-color: #ffffff;
}

/* background color */
body {
  background-color: var(--background-color);
}

/* column color */
.column-color {
  background-color: var(--column-color);
}

/* navbar color */
.navbar-top {
  background-color: var(--nav-bar);
}

.navbar-bottom  {
  color: #bfbfbf;
  background-color: var(--nav-bar);
  font-size: 70%;
}

/* change the brand text color */
.navbar-top .navbar-brand {
  color: #ffffff;
}

/* change the brand hover color */
.navbar-top .navbar-brand:hover {
  color: #ffffff;
}

/* change the links color */
.navbar-top .navbar-nav .nav-link {
  color: #bfbfbf;
}

/* change the color of active or hovered links */
.navbar-top .nav-item.active .nav-link,
.navbar-top .nav-item:hover .nav-link {
  color: #ffffff;
}

/* change the links color */
.navbar-top .nav-link {
  color: #bfbfbf;
}

/* change the color of active or hovered links */
.navbar-top .nav-link.active,
.navbar-top .nav-link:hover {
  color: #ffffff;
}

/* jumbotron colour */
.custom-jumbotron {
  background-color: var(--nav-bar);
  color: #ffffff;
}

/* add space above */
.top-buffer {
  margin-top:20px;
}

/* change the links color */
.custom-jumbotron .heading-color {
  color: #bfbfbf;
}
